<div class="h-screen mb-10 bg-primary mx-auto w-6/6 shadow rounded">
	<div class="mx-auto mt-5 text-center">
		<h1 class="mb-2 pt-10 text-2xl"> <b>{{category.name}}</b></h1>
	</div>

	<div class="mx-auto flex flex-no-wrap">
		<div class="mx-auto w-3/6 p-5 rounded bg-primary">
			<p class="text-sm"> {{category.description}} </p>
		</div>
	</div>
    <br>
    <br>
    <br>
    <br>

	<div class="flex flex-wrap items-center mx-auto px-2 py-2 w-5/6 justify-between">
		<div *ngFor="let strategy of strategies; index as i">
			<app-strategy-card [strategy]="strategies[i]"></app-strategy-card>
		</div>
	</div>
</div>
