<app-login-navigation></app-login-navigation>
<!-- Lots of visuals -->
<div class="front-bg h-screen pt-10 pl-10">
	<div class="ml-5">
		<h1 class="mb-2 mt-10 text-5xl"> <b>Tideline</b> Automated Investing </h1>
		<div class="ml-10">
			<h3 class="text-2xl">Pre-made and customizable algorithmic trading strategies.</h3>
			<h3 class="text-2xl"> Grow your capital intelligently.</h3>
		</div>
	</div>

	<div>
		<button (click)="login()"> login </button>
		<button (click)="logout()"> logout </button>
	</div>
</div>




<!-- Main offerings 1 -->
<div>
	<div>
		<h1> Automated Trading </h1>
	</div>
</div>

<!-- Main offerings 2 -->
<div>

	<div>
		<h1> Profitable Strategies </h1>
	</div>
</div>


<!-- Main offerings 3 -->
<div>

	<div>
		<h1> Customization and Backtesting </h1>
	</div>
</div>


<div>

	<div>
		<a href=#>Create your account</a>
	</div>
</div>
