<div class="w-4/6 sm:w-2/6 md:w-2/6 lg:w-2/6 mx-auto pt-8 mt-8">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-2 mb-4" (ngSubmit)="onSubmit()" [formGroup]="userSignup">
      <div class="mb-4">
          <h2 class="font-bold text-center"> Welcome to Tideline </h2>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input class="transition w-full focus:outline-0 border border-transparent focus:bg-white focus:border-gray-300 placeholder-gray-900 rounded bg-gray-200 py-2 px-2 appearance-none ds-input" formControlName="email" type="text" placeholder="Email">
      </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input class="transition w-full focus:outline-0 border border-transparent focus:bg-white focus:border-gray-300 placeholder-gray-900 rounded bg-gray-200 py-2 px-2 appearance-none ds-input" formControlName="username" type="text" placeholder="Username">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="transition w-full focus:outline-0 border border-transparent focus:bg-white focus:border-gray-300 placeholder-gray-900 rounded bg-gray-200 py-2 px-2 appearance-none ds-input" formControlName="password" type="password" placeholder="Password">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Validate Password
      </label>
      <input class="transition w-full focus:outline-0 border border-transparent focus:bg-white focus:border-gray-300 placeholder-gray-900 rounded bg-gray-200 py-2 px-2 appearance-none ds-input" formControlName="password_val" type="password" placeholder="Password">
    </div>
    <div class="flex items-center justify-between p-2 flex-wrap">
      <button type="submit" class="appearance-none border-none rounded-sm mx-auto px-3 bg-teal-300 text-base py-1 hover:shadow hover:bg-teal-400" [disabled]="loading" type="submit">Submit</button>
    </div>
    <div class="flex items center p-2 flex-wrap" *ngIf="errorMessage">
        <div class="rounded-sm mx-auto p-4 w-full my-1 bg-error text-center">
            <p class="font-bold text-gray-600 mx-auto">{{errorMessage}}</p>
        </div>
    </div>
    <div class="flex-col items-center pt-2 flex-wrap">
      <p class="text-sm inline-block mx-auto align-baseline mr-1 text-center"> Have an account? </p>
      <a class="inline-block mx-auto align-baseline font-bold text-sm text-blue-500 hover:text-blue-800 pt-2" [routerLink]="['/auth']">
        Log in here
      </a>
    </div>
    <hr class="appearance-none">
  </form>
  <p class="text-center text-white text-xs">
    &copy;2019 Tideline
  </p>
</div>
